$ui-color-white: #ffffff;
$ui-color-white-invisible: #ffffff00;
$ui-color-white-soft: #ffffff33;
$ui-color-black: #000000;
$ui-color-purple: #6A54FF;
$ui-color-blue: #57E1FF;
$ui-color-almost-black: #000001;
$ui-color-obsidian-blue: #030718;
$ui-color-lime-aqua: #35FF9E;
$ui-color-indigo-plum: #4A3BB3;
$ui-color-transparent-sky-blue: #57e1ff00;
$ui-color-navy-night: #201a4f;
$ui-color-muted-navy: #434f70;
$ui-color-soft-sky: #e7f7f8;
$ui-color-soft-cyan: #57e1ff33;
$ui-color-frosted-gray: #eaeff033;
$ui-color-smoky-blue: #6073a1;
$ui-color-ice-gray: #eaeff0;
$ui-color-soft-silver: #d9d9d9;
$ui-color-pale-steel: #a5aebc;

$ui-text-transform: uppercase;

$ui-font-size-xs: 13px;
$ui-font-size-sm: 14px;
$ui-font-size-content: 16px;
$ui-font-size-title-h6: 20px;
$ui-font-size-title-h5: 24px;
$ui-font-size-title-h4: 28px;
$ui-font-size-title-h3: 32px;
$ui-font-size-title-h1-mob: 35px;
$ui-font-size-title-h2: 44px;
$ui-font-size-title-h1: 60px;

$ui-font-weight-light: 300;
$ui-font-weight-regular: 400;
$ui-font-weight-medium: 500;
$ui-font-weight-semibold: 600;
$ui-font-weight-bold: 700;
$ui-font-weight-extrabold: 800;
$ui-font-weight-black: 900;

$line-height-xs: 17px;
$line-height-sm: 18px;
$line-height-md: 20px;
$line-height-lg: 30px;
$line-height-xl: 56px;
$line-height-xxl: 72px;
$line-height-xxl-mob: 44px;

$ui-breakpoint-xxl-max: 1280px;
$ui-breakpoint-xl-max: 992px;
$ui-breakpoint-md-max: 767px;
$ui-breakpoint-sm-max: 480px;
$ui-breakpoint-s-max: 375px;

$ui-index-0: 0;
$ui-index-1: 1;
$ui-index-2: 2;
$ui-index-3: 3;
$ui-index-4: 4;
$ui-index-5: 5;
